* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #62ddff;
  height: 100vh;
}
.desktop-nav {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  display: none;
}

.button {
  display: block;
  background-color: transparent;
  padding: 15px 35px;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.button:hover {
  background-color: white;
  color: black;
}

.nav-bar a {
  padding: 0px 18px;
  text-decoration: none;
  color: white;
  font-family: roboto, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.nav-bar a:hover {
  color: white;
}

.menu-icon {
  height: 30px;
  width: 30px;
}

.mobile-nav {
  background-color: black;
  height: 80px;
  display: none;
}
.navbar-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}
.navbar-items a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

@media (max-width: 991px) {
  .mobile-nav {
    display: block;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  .mycard2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .desktop-nav {
    display: flex;
  }
}

.gray-line {
  height: 2px;
  width: 100%;
  background-color: #252626;
}

.navbar-items a:hover {
  color: white;
}

.mycard {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  height: 80vh;
}
.mycard h2 {
  font-size: 36px;
  /* background-color: red; */
}

.mycard p {
  font-size: 14px;
}

.btn2 {
  padding: 15px 35px;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.btn2:hover {
  color: white;
  background-color: transparent;
}

.slika2 {
  /* background-color: green; */
  height: 317px;
  width: 530px;
}

.icon1 {
  height: 50px;
  width: 50px;
}

.sec2 {
  height: 100vh;
}

.card1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
